*{
      margin: 0;
}
body{
      width:100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: yellow;
      
}
.feedback-container{
      width:400px;
      height: 200px;
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0,0,0,.3) ;
      position: relative;

}
.emoji-container{
      position:absolute;
      left:50%;
      transform:translatex(-50%);
      top:30%;
      width:50px;
      height: 50px;
      /* background-color: yellow; */
      display:flex;
      border-radius: 50%;
      overflow:hidden;
}
.far{
      transform: translateX(0);
      transition: transform .2s;
      margin-right:2px;
}
.rating-container{
      position: absolute;
      left:50% ;
      bottom:20%;
      transform: translateX(-50%);
}
.fa-star{
      color:lightgray;
      cursor:pointer;
}
.fa-star.active{
      color:gold;
}